.deco{
    /* border: 5px solid red; */
    /* width: 30vw;
    margin-left: 15%;
    margin-top: 40px;
    border-radius: 6px; */
     /* text-align: left; */
    list-style-type: none;
     

}
